@media screen and (min-width: 1280px) {
    .swiper-pagination-bullet {
        width: 50px;
        height: 50px;
        opacity: 1;
        color: #838383;
        position: relative;
        transition: all 250ms linear;
    }

    .swiper-pagination-bullet:after {
        font-size: 16.5px;
        position: absolute;
        bottom: -65px;
        left: 50%;
        transform: translateX(-50%);
    }


    .swiper-pagination-bullet-active:before {
        content: "";
        width: 65px;
        height: 65px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-11.5%, -11.5%);
        border-radius: 50%;
    }


    .swiper-pagination {
        width: 100%;
        position: absolute;
        bottom: -200px !important;
        display: flex;
        flex-flow: row nowrap;
        align-items: end;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .swiper-pagination-bullet {
        width: 50px;
        height: 50px;
        opacity: 1;
        color: #838383;
        position: relative;
        transition: all 250ms linear;
    }

    .swiper-pagination-bullet:after {
        font-size: 16.5px;
        position: absolute;
        bottom: -65px;
        left: 50%;
        transform: translateX(-50%);
    }


    .swiper-pagination-bullet-active:before {
        content: "";
        width: 65px;
        height: 65px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-11.5%, -11.5%);
        border-radius: 50%;
    }


    .swiper-pagination {
        width: 100%;
        position: absolute;
        bottom: -150px !important;
        display: flex;
        flex-flow: row nowrap;
        align-items: end;
        justify-content: space-evenly;
    }


}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .swiper-pagination-bullet {
        width: 40px;
        height: 40px;
        opacity: 1;
        color: #838383;
        position: relative;
        transition: all 250ms linear;
    }

    .swiper-pagination-bullet:after {
        font-size: 15px;
        position: absolute;
        bottom: -65px;
        left: 50%;
        transform: translateX(-50%);
    }


    .swiper-pagination-bullet-active:before {
        content: "";
        width: 55px;
        height: 55px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-13.5%, -13.5%);
        border-radius: 50%;
    }


    .swiper-pagination {
        width: 100%;
        position: absolute;
        bottom: -150px !important;
        display: flex;
        flex-flow: row nowrap;
        align-items: end;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    .swiper-pagination-bullet {
        width: 45px;
        height: 45px;
        opacity: 1;
        color: rgba(0, 0, 0, 0.6);
        position: relative;
        transition: all 250ms linear;
    }

    .swiper-pagination-bullet:after {
        font-size: 16.5px;
        position: absolute;
        bottom: -65px;
        left: 50%;
        transform: translateX(-50%);
    }


    .swiper-pagination-bullet-active:before {
        content: "";
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-12.5%, -12.5%);
        border-radius: 50%;
    }


    .swiper-pagination {
        width: 100%;
        position: absolute;
        bottom: -120px !important;
        display: flex;
        flex-flow: row nowrap;
        align-items: end;
        justify-content: space-evenly;
    }

}

@media screen and (max-width: 640px) {
    .swiper-pagination-bullet {
        width: 30px;
        height: 30px;
        opacity: 1;
        color: rgba(0, 0, 0, 0.6);
        position: relative;
        transition: all 250ms linear;
    }

    .swiper-pagination-bullet:after {
        font-size: 13.5px;
        position: absolute;
        bottom: -43px;
        left: 50%;
        transform: translateX(-50%);
        line-height: 15px;
    }

    .swiper-pagination-bullet-active:before {
        content: "";
        width: 45px;
        height: 45px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-16%, -16%);
        border-radius: 50%;
    }


    .swiper-pagination {
        width: 100%;
        position: absolute;
        bottom: -20% !important;
        display: flex;
        flex-flow: row nowrap;
        align-items: end;
        justify-content: space-around;
    }

    .swiper {
        width: 90%;
        height: 90vw;
    }

    .swiper-slide {
        width: 68% !important;
        padding-top: 15px !important;
    }
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.swiper-slide {
    width: 90%;
    height: 100% !important;
    display: flex;
    justify-content: center !important;
    align-items: start !important;
    padding-top: 30px;
}

.swiper-pagination-bullet:nth-of-type(1) {
    background-color: #DC1C2B;
}

.swiper-pagination-bullet:nth-of-type(2) {
    background-color: #6A11C8;
}

.swiper-pagination-bullet:nth-of-type(3) {
    background-color: #378214;
}

.swiper-pagination-bullet:nth-of-type(4) {
    background-color: #94007C;
}

.swiper-pagination-bullet:nth-of-type(1):after {
    content: "Apple flavor";
}

.swiper-pagination-bullet:nth-of-type(2):after {
    content: "Strawberry flavor";
}

.swiper-pagination-bullet:nth-of-type(3):after {
    content: "Organic flavor";
}

.swiper-pagination-bullet:nth-of-type(4):after {
    content: "Berry flavor";
}

.swiper-pagination-bullet-active:nth-of-type(1):before {
    border: 2px solid #DC1C2B;
}

.swiper-pagination-bullet-active:nth-of-type(2):before {
    border: 2px solid #6A11C8;
}

.swiper-pagination-bullet-active:nth-of-type(3):before {
    border: 2px solid #378214;
}

.swiper-pagination-bullet-active:nth-of-type(4):before {
    border: 2px solid #94007C;
}

.swiper-pagination-bullet-active {
    /*transform: scale(1.1);*/
    position: relative;
    color: black;
    font-weight: 600;


    @keyframes move {
    0%  {transform: translate(0px,0px);}
    20%  {transform: translate(10px,5px);}
    40%  {transform: translate(-10px,-5px);}
    60%  {transform: translate(5px,-10px);}
    80%  {transform: translate(10px,-5px);}
    100%  {transform: translate(0px,0px);}
}


