@font-face {
  font-family: Inter-Regular;
  src: url("./assets/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: Inter-Bold;
  src: url("./assets/fonts/Inter-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Inter-Regular;
}
